decord
#根据https://download.pytorch.org/whl/torch/，python版本为[3.8,3.11]
torch
torchvision
pytorchvideo
xformers
transformers==4.42.4
#如果运行提示transformers错误，则可能是transformers代码问题，拉取最新的试下
#git+https://github.com/huggingface/transformers.git
huggingface-hub
pillow
chainlit
pydantic
timm
openai
loguru
pydantic
einops
sse-starlette
flask
gunicorn
gevent
requests
gradio
